body {
	font-family: 'Roboto', sans-serif;
	background: #d9a7c7;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fffcdc, #d9a7c7);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container {
	width: 360px;
	margin: 100 auto;
	background: rgb(247, 210, 216);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

h1 {
	background-color: lightpink;
	color: grey;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

input {
	font-size: 18px;
	background: rgb(247, 210, 216);
	width: 100%;
	color: grey;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
	background: white;
	border: 3px solid lightcoral;
	outline: lightcoral;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li {
	background: pink;
	height: 40px;
	line-height: 40px;
	color: grey;
}

li:nth-child(2n) {
	background: rgb(247, 210, 216);
}

li:hover span {
	width: 40px;
	padding: 0;
	opacity: 1;
	vertical-align: middle;
}

.fa-trash {
	float: right;
}

.fa-plus-square {
	float: right;
	padding-right: 10px;
}

.fa-minus-circle {
	padding-top: 11px;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2 linear;
	opacity: 0;
}

.completed {
	color: green;
	text-decoration: line-through;
}